/* ==========================================================================
   Steil skin
   ========================================================================== */

/* fonts */
@font-face {
  font-family: "ClearSans-Bk";
  font-weight: normal;
  font-style: normal;
  src: url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.eot");
  src: url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.woff")
      format("woff"),
    url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.ttf")
      format("truetype"),
    url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.svg#wf")
      format("svg");
}
@font-face {
  font-family: "ClearSans-Bk";
  font-weight: bold;
  font-style: normal;
  src: url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_5_0.eot");
  src: url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_5_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_5_0.woff")
      format("woff"),
    url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_5_0.ttf")
      format("truetype");
}
@font-face {
  font-family: "ClearSans";
  font-weight: normal;
  font-style: normal;
  src: url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_2_0.eot");
  src: url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_2_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_2_0.woff")
      format("woff"),
    url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_2_0.ttf")
      format("truetype"),
    url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_2_0.svg#wf")
      format("svg");
}
@font-face {
  font-family: "ClearSans";
  font-weight: bold;
  font-style: normal;
  src: url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.eot");
  src: url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.woff")
      format("woff"),
    url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.ttf")
      format("truetype"),
    url("https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.svg#wf")
      format("svg");
}
$font-clearsans: (
  "ClearSans",
  "ClearSans-Bk",
  "Helvetica Neue",
  "Helvetica",
  "Arial",
  sans-serif
);
$font-clearsans-bk: (
  "ClearSans-Bk",
  "Helvetica Neue",
  "Helvetica",
  "Arial",
  sans-serif
);
$serif: $font-clearsans-bk;
$sans-serif-narrow: $font-clearsans-bk;
$header-font-family: $sans-serif-narrow;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
}

/* Colors */
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$primary-color: #fa9b20 !default;
$secondary-color: #b7d161 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;

$link-color: $primary-color !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  background-color: #fafafa !important;
  // color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.masthead {
  // &,
  // * {
  //   background-color: $primary-color !important;
  //   color: #fff !important;
  // }

  .site-title {
    font-weight: normal;
  }

  .site-logo {
    display: inline-block;
    font-size: 1.75rem;
    position: relative;

    &::before {
      background-color: #fff;
      border: 0.0667em solid $secondary-color;
      border-radius: 10rem;
      content: "";
      height: 1em;
      position: absolute;
      left: -0.0625em;
      top: 0.25em;
      width: 1em;
      z-index: -1;
    }
  }
}

.author__avatar img {
  border-color: $secondary-color !important;
  border-width: 0.175rem !important;
}

.google-maps {
  border: none;
  height: 15rem;
  width: 100%;
}
